body{
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    background: url("../images/cow\ and\ calf.jpg")no-repeat center center fixed;
    background-size: cover;
}

.banner h1 {
    margin:0px;
    font-size: 30px;
    float: left;
    
}

.banner ul{
    padding-top:10px;
    list-style: none;
}

.banner li {
    float: left;
    padding-right: 50px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
    padding-bottom: 100px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2{
    text-align: center;
    margin: none;
}